---
import ButtonArrow from './../assets/arrow.webp';
---

<section class="bg-white py-8 md:py-16">
    <div class="w-full lg:w-1/12"></div>
  <div class=" w-full lg:w-10/12 container mx-auto px-4">
    <h2 class="text-center text-2xl md:text-3xl font-bold mb-4 text-[#121212] mb-10">
        Key Features of Our Program
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <div class="bg-[#F5F5F5] text-center shadow-[5px_5px_0_0_#d7d5d5] border border-white p-8 relative lg:bg-[url('./../assets/keyStar.webp')] bg-no-repeat background-cover bg-[5%_10%]">
        <h4 class="text-lg font-semibold mb-3 text-[#292929]">Tech-Powered Learning Bliss</h4>
        <p class="text-[#292929] md:text-md md:leading-8">Our technology-driven learning oasis! With our robust Learning Management System (LMS), the classroom comes to life wherever you are.</p>
      </div>

      <div class="bg-[#F5F5F5] text-center shadow-[5px_5px_0_0_#d7d5d5] border border-white p-8 md:p-10 relative md:bg-[url('./../assets/keyStar.webp')] bg-no-repeat bg-[5%_10%]">
        <h4 class="text-lg font-semibold mb-3 text-[#292929]">Your Journey, Your Way</h4>
        <p class="text-[#292929] md:text-md md:leading-8">Navigate your MPH adventure with dedicated student coordinators by your side. From faculty interactions to projects, we’ve got your back at every turn because your success is our mission.</p>
      </div>

      <div class="bg-[#F5F5F5] text-center shadow-[5px_5px_0_0_#d7d5d5] border border-white p-8 md:p-10 relative md:bg-[url('./../assets/keyStar.webp')] bg-no-repeat bg-[5%_10%]">
        <h4 class="text-lg font-semibold mb-3 text-[#292929]">Worldwide Minds Unite</h4>
        <p class="text-[#292929] md:text-md md:leading-8">Be part of a global tribe! Join over 1000 students worldwide in our Public Health program. Embrace diversity and connect with like-minded individuals on this international academic journey.</p>
      </div>

      <div class="bg-[#F5F5F5] text-center shadow-[5px_5px_0_0_#d7d5d5] border border-white p-8 md:p-10 relative md:bg-[url('./../assets/keyStar.webp')] bg-no-repeat bg-[5%_10%]">
        <h4 class="text-lg font-semibold mb-3 text-[#292929]">Stamped with Excellence</h4>
        <p class="text-[#292929] md:text-md md:leading-8">An MPH degree from TAU, Guyana, is recognized by the National Accreditation Council of Guyana (NACG) and the British Accreditation Council (BAC). This credential is your ticket to professional distinction.</p>
      </div>

      <div class="bg-[#F5F5F5] text-center shadow-[5px_5px_0_0_#d7d5d5] border border-white p-8 md:p-10 relative md:bg-[url('./../assets/keyStar.webp')] bg-no-repeat bg-[5%_10%]">
        <h4 class="text-lg font-semibold mb-3 text-[#292929]">Resources Galore</h4>
        <p class="text-[#292929] md:text-md md:leading-8">Access a wealth of resources, from a digital library for references to e-Journals for cutting-edge research publications and conferences. Your academic got an upgrade!</p>
      </div>

      <div class="bg-[#F5F5F5] text-center shadow-[5px_5px_0_0_#d7d5d5] border border-white p-8 md:p-10 relative md:bg-[url('./../assets/keyStar.webp')] bg-no-repeat bg-[5%_10%]">
        <h4 class="text-lg font-semibold mb-3 text-[#292929]">Alumni: Leaders in Action</h4>
        <p class="text-[#292929] md:text-md md:leading-8">Our alumni community is a powerhouse of accomplished professionals making significant strides in various fields. To support their continuous growth and success, we offer exclusive resources tailored for lifelong learning & career advancement.</p>
      </div>
    </div>

    <div class="text-center mt-10">
      <a href="#program" class="inline-flex items-center justify-center gap-2 bg-[#114869] text-white font-medium px-6 py-3 rounded transition">
        To Know More Advantages
        <img src={ButtonArrow.src} alt="arrow" class="w-5 h-5" />
      </a>
    </div>
  </div>
  <div class="w-full lg:w-1/12"></div>
</section>
