---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="gyicon.ico" type="image/x-icon">
	  <link href="font.css" rel="stylesheet" />
    <link rel="preload" as="image" href="_astro/giftMobBanner.Dl4FVVIK.webp"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Gift for Friends</title>
  </head>
  <body class="font-poppins bg-white text-gray-800">
    <slot />
  </body>
</html>
